### üîç DATA DETECTIVE CHALLENGE: Patient Records Investigation

 Your mission: Clean and analyze this messy patient records dataset!

 SCORING SYSTEM:
 - Each bug found and fixed: 5 points
 - Bonus: Creative solution: +3 points
 - Speed bonus: First to finish correctly: +10 points

 Total possible bugs: 15+ categories
 Maximum score: 100+ points

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
# ================================================================
# STEP 1: LOAD THE DATA
# ================================================================

# TODO: Load the messy_patient_records.csv file
df = pd.read_csv('messy_patient_records.csv')

print("Dataset loaded successfully!")
print(f"Shape: {df.shape}")
print("\n" + "="*70)

Dataset loaded successfully!
Shape: (100, 15)

======================================================================

In [4]:
# ================================================================
# STEP 2: INITIAL EXPLORATION
# ================================================================
# Get a feel for the data before you start cleaning

print("\nüîé INITIAL DATA INSPECTION")
print("="*70)

# Display data types
print("\nüìä Data Types:")
print(df.dtypes)

# Display basic info
print("\nüìã Dataset Info:")
print(df.info())

# Check for missing values
print("\n‚ùì Missing Values Count:")
print(df.isnull().sum())

print("\n" + "="*70)

üîé INITIAL DATA INSPECTION
======================================================================

üìä Data Types:
Patient_ID            float64
First_Name             object
Last_Name              object
Date_of_Birth          object
Age                   float64
Gender                 object
Blood_Type             object
Admission_Date         object
Discharge_Date         object
Diagnosis              object
Temperature            object
Blood_Pressure         object
Heart_Rate            float64
Insurance_Provider     object
Bill_Amount            object
dtype: object

üìã Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_ID          98 non-null     float64
 1   First_Name          98 non-null     object
 2   Last_Name           98 non-null     object
 3   Date_of_Birth       82 non-null     object
 4   Age                 95 non-null     float64
 5   Gender              97 non-null     object
 6   Blood_Type          98 non-null     object
 7   Admission_Date      90 non-null     object
 8   Discharge_Date      81 non-null     object
 9   Diagnosis           100 non-null    object
 10  Temperature         96 non-null     object
 11  Blood_Pressure      97 non-null     object
 12  Heart_Rate          98 non-null     float64
 13  Insurance_Provider  88 non-null     object
 14  Bill_Amount         97 non-null     object
dtypes: float64(3), object(12)
memory usage: 11.8+ KB
None

‚ùì Missing Values Count:
Patient_ID             2
First_Name             2
Last_Name              2
Date_of_Birth         18
Age                    5
Gender                 3
Blood_Type             2
Admission_Date        10
Discharge_Date        19
Diagnosis              0
Temperature            4
Blood_Pressure         3
Heart_Rate             2
Insurance_Provider    12
Bill_Amount            3
dtype: int64

======================================================================

In [5]:
# Display first few rows
print("\nFirst 10 rows:")
df.head(10)

First 10 rows:

,Patient_ID,First_Name,Last_Name,Date_of_Birth,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Temperature,Blood_Pressure,Heart_Rate,Insurance_Provider,Bill_Amount
0,1001.0,John,Smith,NaN,45.0,Unknown,A +,15/10/2024,NaN,Flu,97.3F,151 / 88,78.0,NaN,$566
1,1002.0,Mary,johnson,24/01/1954,26.0,MALE,A+,25/10/2024,03/11/2024,Pneumonia,38.4,133/71,68.0,Cigna,5876.33
2,1003.0,james,WILLIAMS,08/04/1975,34.0,M,O-,09/07/2025,18/07/2025,COVID-19,36.5,96/76,78.0,BlueCross,7015.1
3,1004.0,SARAH,Brown,04/12/1957,34.0,Male,B+,25/11/2024,05/12/2024,COVID-19,37.8,151/67,88.0,BLUECROSS,7574.35
4,1005.0,Michael,Jones,19/02/2009,78.0,MALE,AB+,19/12/2024,25/12/2024,Migraine,38,98/85,91.0,UnitedHealth,965.92
5,1006.0,Robert,Garcia,01/01/1994,39.0,M,B+,05/05/2025,18/05/2025,Migraine,37.8,152/64,67.0,BLUECROSS,6260.86
6,1007.0,william,Miller,08/04/1951,51.0,MALE,A+,13/03/2025,21/03/2025,Anxiety,37.6,163/100,61.0,blue cross,5218.91
7,1008.0,Olivia,Davis,NaN,85.0,m,O+,30/12/2024,09/01/2025,Bronchitis,39.2,177/63,100.0,Cigna,9089.48
8,1009.0,David,NaN,01/10/2004,72.0,FEMALE,O-,06/10/2025,01/10/2025,Fracture,37.9,109/69,98.0,aetna,3218.84
9,1010.0,Sophia,Martinez,23/04/2011,45.0,m,A+,NaN,NaN,Bronchitis,37,162 / 120,75.0,United Health,8089.17

In [6]:
# ================================================================
# üéØ CLUES: Types of Bugs Hidden in the Dataset
# ================================================================
print("\nüïµÔ∏è DETECTIVE CLUES - Types of bugs you'll find:")
print("="*70)
print("""
1. üî¢ DUPLICATE DATA: Some patients appear more than once
2. ‚ùå MISSING VALUES: Multiple types (None, NaN, 'NA', 'N/A', empty strings)
3. üî§ DATA TYPE ISSUES: Numbers stored as strings, dates as objects
4. üìÖ DATE FORMAT ISSUES: Inconsistent date formats across columns
5. üé® FORMATTING ISSUES: Extra whitespace, inconsistent capitalization
6. üö´ INVALID VALUES: Impossible ages, negative numbers where they shouldn't be
7. üå°Ô∏è MIXED UNITS: Temperature in different units (Celsius vs Fahrenheit)
8. ü©∏ TYPOS: Misspellings in categorical data
9. ‚öñÔ∏è INCONSISTENT NAMING: Same values written differently
10. üîÄ LOGICAL INCONSISTENCIES: Dates that don't make sense (discharge before admission)
11. üìä OUTLIERS: Values way outside normal ranges
12. üî¢ WRONG SEPARATORS: Data formatted incorrectly
13. üíµ CURRENCY SYMBOLS: Embedded in numeric data
14. üé≠ CATEGORICAL CHAOS: Same categories with different cases/formats
15. üîÑ INCONSISTENT NULLS: Different representations of missing data

Your challenge: Find and fix ALL of them!
""")
print("="*70)

üïµÔ∏è DETECTIVE CLUES - Types of bugs you'll find:
======================================================================

1. üî¢ DUPLICATE DATA: Some patients appear more than once
2. ‚ùå MISSING VALUES: Multiple types (None, NaN, 'NA', 'N/A', empty strings)
3. üî§ DATA TYPE ISSUES: Numbers stored as strings, dates as objects
4. üìÖ DATE FORMAT ISSUES: Inconsistent date formats across columns
5. üé® FORMATTING ISSUES: Extra whitespace, inconsistent capitalization
6. üö´ INVALID VALUES: Impossible ages, negative numbers where they shouldn't be
7. üå°Ô∏è MIXED UNITS: Temperature in different units (Celsius vs Fahrenheit)
8. ü©∏ TYPOS: Misspellings in categorical data
9. ‚öñÔ∏è INCONSISTENT NAMING: Same values written differently
10. üîÄ LOGICAL INCONSISTENCIES: Dates that don't make sense (discharge before admission)
11. üìä OUTLIERS: Values way outside normal ranges
12. üî¢ WRONG SEPARATORS: Data formatted incorrectly
13. üíµ CURRENCY SYMBOLS: Embedded in numeric data
14. üé≠ CATEGORICAL CHAOS: Same categories with different cases/formats
15. üîÑ INCONSISTENT NULLS: Different representations of missing data

Your challenge: Find and fix ALL of them!

======================================================================

In [8]:
# ================================================================
# STEP 3: START YOUR INVESTIGATION
# ================================================================

# Create a copy to work with (always keep original!)
df_clean = df.copy()

print("\nüßπ CLEANING PROCESS BEGINS!")
print("="*70)

üßπ CLEANING PROCESS BEGINS!
======================================================================

In [9]:
duplicate_ids = df_clean[df_clean['Patient_ID'].duplicated(keep=False)]
print(f"Found {len(duplicate_ids)} duplicate records:")
display(duplicate_ids)

# Check differences in duplicates
if not duplicate_ids.empty:
    diff_cols = [col for col in df_clean.columns if not duplicate_ids[col].nunique() == 1]
    print("Columns with differences in duplicates:", diff_cols)

    #Ensure Admission_Date is datetime
df_clean['Admission_Date'] = pd.to_datetime(df_clean['Admission_Date'], errors='coerce')

# Sort by Admission_Date so the latest record is last
df_sorted = df_clean.sort_values('Admission_Date')

df_clean = df_clean.sort_values('Admission_Date').drop_duplicates(subset='Patient_ID', keep='last')

Found 5 duplicate records:

,Patient_ID,First_Name,Last_Name,Date_of_Birth,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Temperature,Blood_Pressure,Heart_Rate,Insurance_Provider,Bill_Amount
10,1015.0,John,Smith,08/07/2009,43.0,MALE,O-,04/05/2025,NaN,Pneumonia,37,128/65,70.0,Medicare,6267.12
14,1015.0,Michael,Jones,NaN,65.0,m,A-,15/10/2024,22/10/2024,COVID-19,39.3,166/110,60.0,CIGNA,$1620
25,1015.0,Emma,Garcia,13/02/2008,61.0,Male,XY+,26/10/2024,03/11/2024,Anxiety,37.3,117/76,69.0,aetna,NaN
50,NaN,John,Smith,08/01/1981,78.0,FEMALE,XY+,27/06/2025,NaN,Hypertension,38.6,162/118,92.0,BLUECROSS,NaN
75,NaN,Emma,Garcia,20/05/1985,75.0,m,XY+,05/11/2024,11/11/2024,ASTHMA,37.1,152-65,75.0,United Health,NaN

Columns with differences in duplicates: ['First_Name', 'Last_Name', 'Date_of_Birth', 'Age', 'Gender', 'Blood_Type', 'Admission_Date', 'Discharge_Date', 'Diagnosis', 'Temperature', 'Blood_Pressure', 'Heart_Rate', 'Insurance_Provider', 'Bill_Amount']

In [11]:
# ----------------------------------------------------------------
# BUG CATEGORY 1: DUPLICATE RECORDS
# ----------------------------------------------------------------
print("\n1Ô∏è‚É£ Checking for duplicates...")

# TODO: Check for duplicate Patient_IDs
# HINT: Use df_clean['Patient_ID'].duplicated()
duplicate_ids = df_clean[df_clean['Patient_ID'].duplicated(keep=False)]
print(f"Found {len(duplicate_ids)} duplicate records:")
display(duplicate_ids)

# Plan - keep first occurrence of 1015 only and drop all the others, left NaN(s) as missing IDs.
# Patient names for NaN(s) are the same for dropped duplicates of 1015, assummed to be duplicate entries.
# Ensure Admission_Date is datetime
df_clean['Admission_Date'] = pd.to_datetime(df_clean['Admission_Date'], errors='coerce')

# Sort by Admission_Date so the earliest comes first
df_clean = df_clean.sort_values('Admission_Date').reset_index(drop=True)

# Create a mask for 1015 duplicates
mask_1015 = df_clean['Patient_ID'] == 1015
duplicated_1015 = df_clean[mask_1015].duplicated(subset=['Patient_ID'], keep='first')

# Set duplicates to NaN
df_clean.loc[mask_1015 & duplicated_1015, 'Patient_ID'] = pd.NA

# Display them
display(duplicate_ids)


print("‚úì Duplicate check complete")

1Ô∏è‚É£ Checking for duplicates...
Found 0 duplicate records:

Empty DataFrame
Columns: [Patient_ID, First_Name, Last_Name, Date_of_Birth, Age, Gender, Blood_Type, Admission_Date, Discharge_Date, Diagnosis, Temperature, Blood_Pressure, Heart_Rate, Insurance_Provider, Bill_Amount]
Index: []

Empty DataFrame
Columns: [Patient_ID, First_Name, Last_Name, Date_of_Birth, Age, Gender, Blood_Type, Admission_Date, Discharge_Date, Diagnosis, Temperature, Blood_Pressure, Heart_Rate, Insurance_Provider, Bill_Amount]
Index: []

‚úì Duplicate check complete

In [13]:
# ----------------------------------------------------------------
# BUG CATEGORY 2: MISSING VALUES - STANDARDIZE
# ----------------------------------------------------------------
print("\n2Ô∏è‚É£ Standardizing missing values...")

# TODO: Replace all variations of missing values with proper NaN
# HINT: Look for 'NA', 'N/A', empty strings '', and convert to np.nan
# HINT: Use replace() method
#Looked through entire dataset to see patterns used to mean missing values
# Identified one uncommon 'NaT', considered it while defining possible patterns as below
missing_patterns = ['NA','N/A','',' ','NaT,','NAT','NaN','Nan','nan','none','None','NONE','na','Na']
df_clean.replace(missing_patterns, np.nan, inplace=True)

print("‚úì Missing values standardized")
print(df_clean[df_clean.isna().any(axis=1)])

2Ô∏è‚É£ Standardizing missing values...
‚úì Missing values standardized
    Patient_ID First_Name  Last_Name Date_of_Birth   Age   Gender Blood_Type  \
0       1001.0     John        Smith           NaN  45.0  Unknown        A +
2       1085.0  Michael        Jones           NaN  27.0     MALE        A +
3       1071.0     John        Smith           NaN  61.0        m         A-
5       1064.0    SARAH        Brown           NaN  24.0     Male         O+
6       1057.0  william       Miller           NaN  30.0        f        AB+
7       1043.0    james     WILLIAMS           NaN  48.0        m         O+
8       1029.0    David    rodriguez           NaN  47.0   Female         O-
9       1022.0     Mary      johnson           NaN  49.0   FEMALE         B+
10      1099.0    David    rodriguez           NaN  79.0        F        AB+
11      1077.0    william     Miller    18/11/1954   NaN   Female         A+
15      1039.0      David  rodriguez    22/04/1985   NaN        m         B-
17      1020.0     Sophia   Martinez    12/02/1988   NaN        M         B-
19      1063.0      james   WILLIAMS    19/07/2014  77.0      NaN         B+
20      1041.0       John      Smith           NaN  27.0        f        AB-
24      1016.0        NaN     Garcia    20/05/1985  74.0   Female         O-
28      1008.0   Olivia        Davis           NaN  85.0        m         O+
33      1058.0     Olivia      Davis    15/11/1990   NaN        F         O-
34      1031.0        NaN      Smith    20/05/1985  18.0     MALE         B-
35      1023.0      james        NaN    15/08/1990  46.0     Male        AB+
37      1096.0       Emma     Garcia    02/04/1979   NaN     MALE         B+
38      1094.0      SARAH      Brown    01/08/1981  48.0      NaN        AB+
39      1061.0       John      Smith           NaN  72.0        f        A +
40      1025.0    Michael      Jones    15/12/1945  26.0        F        A +
49      1021.0       John      Smith           NaN  33.0        M         B+
51      1015.0       John      Smith    08/07/2009  43.0     MALE         O-
54      1036.0     Emma       Garcia           NaN  26.0        F         A+
55      1092.0     Mary      johnson           NaN  45.0        m        AB+
59      1050.0   Sophia     Martinez           NaN  49.0        M         O-
63         NaN       John      Smith    08/01/1981  78.0   FEMALE        XY+
67      1032.0       Mary    johnson    22/01/1948  27.0      NaN         O+
80      1009.0      David        NaN    01/10/2004  72.0   FEMALE         O-
81      1017.0    william     Miller    09/06/1994  84.0        M        AB+
82      1081.0       John      Smith           NaN  41.0   FEMALE         O-
83      1065.0    Michael      Jones    08/06/1991  30.0   FEMALE         A+
84      1097.0    william     Miller    03/10/1970  70.0        M        A +
85      1049.0      David  rodriguez    22/04/2011  78.0        F        A +
86      1033.0      james   WILLIAMS    03/05/1969  25.0        F         B+
87      1010.0     Sophia   Martinez    23/04/2011  45.0        m         A+
88      1019.0      David  rodriguez    03/02/1983  75.0        f         0+
89      1028.0     Olivia      Davis    28/10/2020  20.0        F        NaN
90      1037.0    william     Miller    21/08/1975  22.0     MALE        A +
91      1046.0       Emma     Garcia    20/05/1985  45.0        m         A+
92      1055.0    Michael      Jones    16/11/1967  42.0        m         0+
93      1073.0      james   WILLIAMS    15/10/1988  49.0        F        A +
94      1082.0       Mary    johnson    01/08/1960  53.0        m        NaN
95      1091.0       John      Smith    20/05/1985  29.0     Male         0+
96      1100.0     Sophia   Martinez    15/08/1990  45.0     Male        AB+

   Admission_Date Discharge_Date     Diagnosis Temperature Blood_Pressure  \
0      2024-10-15            NaN         Flu         97.3F       151 / 88
2      2024-10-15     22/10/2024      COVID-19        37.4            NaN
3      2024-10-15            NaN           Flu        37.4        156/101
5      2024-10-15     19/10/2024        ASTHMA        38.2      176 / 113
6      2024-10-15     10/10/2024    Bronchitis        37.2         159/91
7      2024-10-15     26/10/2024      COVID-19          38            NaN
8      2024-10-15     20/10/2024      diabetes        38.2         112/95
9      2024-10-15     18/10/2024       Anxiety        37.5            NaN
10     2024-10-15     16/10/2024      COVID-19        36.5          96/73
11     2024-10-19     28/10/2024      Diabetis        38.7         150/82
15     2024-11-01     14/11/2024      Diabetis        38.3         177/74
17     2024-11-05     13/11/2024      Diabetis        38.3         165/87
19     2024-11-18     21/11/2024    Bronchitis        39.5         101/74
20     2024-11-23            NaN           Flu       150.5         170/97
24     2024-12-14     28/12/2024           Flu        38.8         169-74
28     2024-12-30     09/01/2025    Bronchitis        39.2         177/63
33     2025-02-05     11/02/2025      Diabetis        38.5         146/65
34     2025-02-06            NaN        ASTHMA        37.5          90-86
35     2025-02-10     22/02/2025    Migraine          37.2        168/107
37     2025-02-11     18/02/2025      Diabetis        38.8         136/99
38     2025-02-15     28/02/2025       Anxiety        39.3         142/63
39     2025-02-15            NaN       Anxiety       150.5         131-98
40     2025-02-22     17/02/2025      COVID-19         NaN        116/100
49     2025-04-25            NaN        ASTHMA       150.5         129/96
51     2025-05-04            NaN     Pneumonia          37         128/65
54     2025-05-14     19/05/2025      COVID-19        37.6         180/78
55     2025-06-01     02/06/2025       Anxiety       97.2F         90/102
59     2025-06-13     25/06/2025      Migraine        37.9         129/98
63     2025-06-27            NaN  Hypertension        38.6        162/118
67     2025-07-12     16/07/2025      Fracture          38        147/104
80     2025-10-06     01/10/2025      Fracture        37.9         109/69
81     2025-11-06     01/11/2025      COVID-19        37.9         156/84
82     2025-11-06            NaN  Hypertension       150.5         110/81
83     2025-11-06     01/11/2025      Fracture        37.6         163/97
84     2025-11-06     01/11/2025           Flu         NaN        153/100
85     2025-11-06     01/11/2025  Hypertension         NaN          97/70
86     2025-11-06     01/11/2025        ASTHMA        37.5         166/90
87            NaT            NaN    Bronchitis          37      162 / 120
88            NaT            NaN      Fracture          39       146 / 79
89            NaT            NaN  Hypertension        38.8       110 / 75
90            NaT            NaN           Flu        37.3      179 / 115
91            NaT            NaN     Pneumonia        37.7      109 / 118
92            NaT            NaN  Hypertension        37.4       179 / 85
93            NaT            NaN       Anxiety         NaN       125 / 71
94            NaT            NaN     Pneumonia        38.3      142 / 104
95            NaT            NaN     Pneumonia        36.6      155 / 112
96            NaT            NaN         Flu          37.4       124 / 95

    Heart_Rate Insurance_Provider Bill_Amount
0         78.0                NaN        $566
2         78.0              Aetna       $4925
3         84.0              aetna       $2975
5         94.0              Cigna      6385.7
6          NaN           Medicare       $2647
7         92.0      United Health       $1653
8          NaN       UnitedHealth       $4918
9         89.0          BlueCross     3966.18
10        66.0       UnitedHealth       $1313
11        96.0                NaN     9961.31
15        69.0                NaN     8768.77
17        74.0                NaN     4687.82
19        88.0              Aetna     4979.03
20        72.0              aetna        -579
24        95.0       UnitedHealth     6468.36
28       100.0              Cigna     9089.48
33        97.0                NaN     6053.32
34        77.0         blue cross     3975.65
35        67.0           Medicare     1748.41
37        66.0                NaN     4712.14
38        97.0              aetna       810.8
39        78.0           Medicare        -210
40        78.0              Aetna     3603.83
49        67.0              CIGNA        -693
51        70.0           Medicare     6267.12
54        89.0          BlueCross     9469.78
55        92.0      United Health      4377.1
59        81.0           Medicare     5794.47
63        92.0          BLUECROSS         NaN
67        86.0              Cigna     5267.05
80        98.0              aetna     3218.84
81        86.0                NaN     9082.34
82        62.0                NaN        -497
83        90.0                NaN     9460.11
84        78.0                NaN     9530.27
85        78.0                NaN     8534.57
86        90.0                NaN     3089.01
87        75.0      United Health     8089.17
88       250.0              Cigna     3434.86
89        78.0         blue cross     2407.55
90        78.0          BlueCross     9690.15
91        77.0              Aetna     6925.08
92       250.0           Medicare     1674.09
93        78.0          BLUECROSS     1608.42
94        80.0              aetna     4809.62
95       250.0           Medicare      5148.8
96        93.0              aetna     9818.81

In [19]:
#FILL IN MISSING DATE OF BIRTH
#fill in missing Date_of_Birth values using the patient‚Äôs Age, using a known reference date (Admission_Date, or current date where admission date is empty).
from pandas.tseries.offsets import DateOffset 
# Ensure dates and ages are valid
df_clean['Admission_Date'] = pd.to_datetime(df_clean['Admission_Date'], errors='coerce')
df_clean['Age'] = pd.to_numeric(df_clean['Age'], errors='coerce')

# Only fill missing Date_of_Birth using Age
if 'Date_of_Birth' in df_clean.columns and 'Age' in df_clean.columns:
    missing_dob_mask = df_clean['Date_of_Birth'].isna() & df_clean['Age'].notna()

    # Use Admission_Date as reference; fallback to today's date
    reference_date = df_clean['Admission_Date'].fillna(pd.Timestamp.today())

    # Function to subtract years
    def estimate_dob(row):
        try:
            if pd.notna(row['Age']) and pd.notna(row['Admission_Date']):
                return row['Admission_Date'] - DateOffset(years=int(row['Age']))
            elif pd.notna(row['Age']):
                return pd.Timestamp.today() - DateOffset(years=int(row['Age']))
        except:
            return pd.NaT
        return pd.NaT

    df_clean.loc[missing_dob_mask, 'Date_of_Birth'] = df_clean.loc[missing_dob_mask].apply(estimate_dob, axis=1)

print("‚úÖ Missing Date_of_Birth values estimated from Age.")
df_clean[['Patient_ID', 'Age', 'Admission_Date', 'Date_of_Birth']].head(10)

‚úÖ Missing Date_of_Birth values estimated from Age.

   Patient_ID   Age Admission_Date        Date_of_Birth
0      1001.0  45.0     2024-10-15  1979-10-15 00:00:00
1      1086.0  -5.0     2024-10-15           27/05/2020
2      1085.0  27.0     2024-10-15  1997-10-15 00:00:00
3      1071.0  61.0     2024-10-15  1963-10-15 00:00:00
4      1068.0  69.0     2024-10-15           28/01/1951
5      1064.0  24.0     2024-10-15  2000-10-15 00:00:00
6      1057.0  30.0     2024-10-15  1994-10-15 00:00:00
7      1043.0  48.0     2024-10-15  1976-10-15 00:00:00
8      1029.0  47.0     2024-10-15  1977-10-15 00:00:00
9      1022.0  49.0     2024-10-15  1975-10-15 00:00:00

In [22]:
# ----------------------------------------------------------------
# BUG CATEGORY 3: WHITESPACE ISSUES
# ----------------------------------------------------------------
print("\n3Ô∏è‚É£ Cleaning whitespace...")

# TODO: Remove leading/trailing whitespace from text columns
# HINT: Use .str.strip() on string columns

#Selected only object/string columns because .str only works with strings
text_cols = df_clean.select_dtypes(include='object').columns

# Remove leading and trailing whitespace in those columns
df_clean[text_cols] = df_clean[text_cols].apply(lambda x: x.str.strip())

print("‚úÖ Leading/trailing whitespace removed from text columns.")

print("‚úì Whitespace cleaned")

3Ô∏è‚É£ Cleaning whitespace...
‚úÖ Leading/trailing whitespace removed from text columns.
‚úì Whitespace cleaned

In [24]:
# ----------------------------------------------------------------
# BUG CATEGORY 4: CASE CONSISTENCY
# ----------------------------------------------------------------
print("\n4Ô∏è‚É£ Fixing case inconsistencies...")

# TODO: Standardize capitalization in First_Name, Last_Name, Gender, etc.
# HINT: Use .str.title(), .str.upper(), or .str.lower() as appropriate
# Columns to standardize
Capital_eachword = ['First_Name', 'Last_Name','Diagnosis']  # capitalize first letter of each word
Uppercase = ['Gender']                   # convert all to uppercase
lowercase = []                           # convert to lowercase

for col in Capital_eachword:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].str.title()
for col in Uppercase:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].str.upper()
for col in lowercase:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].str.lower()
if 'Gender' in df_clean.columns:
    df_clean['Gender'] = df_clean['Gender'].replace({
        'M': 'MALE',
        'F': 'FEMALE'
    })

#Converted Covid-19 back to capital since it is an abbreviation
df_clean['Diagnosis'] = df_clean['Diagnosis'].replace(
        to_replace=r'Covid[\s\-]?19',  # handles "Covid19", "Covid 19", "Covid-19"
        value='COVID19',
        regex=True
    )
print("‚úì Case consistency applied")
df_clean.head(10)

4Ô∏è‚É£ Fixing case inconsistencies...
‚úì Case consistency applied

,Patient_ID,First_Name,Last_Name,Date_of_Birth,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Temperature,Blood_Pressure,Heart_Rate,Insurance_Provider,Bill_Amount
0,1001.0,John,Smith,NaN,45.0,UNKNOWN,A +,2024-10-15,NaN,Flu,97.3F,151 / 88,78.0,NaN,$566
1,1086.0,Emma,Garcia,27/05/2020,-5.0,MALE,O-,2024-10-15,22/10/2024,Bronchitis,normal,160/62,84.0,UnitedHealth,4481.7
2,1085.0,Michael,Jones,NaN,27.0,MALE,A +,2024-10-15,22/10/2024,COVID19,37.4,NaN,78.0,Aetna,$4925
3,1071.0,John,Smith,NaN,61.0,MALE,A-,2024-10-15,NaN,Flu,37.4,156/101,84.0,aetna,$2975
4,1068.0,Olivia,Davis,28/01/1951,69.0,MALE,O-,2024-10-15,18/10/2024,Bronchitis,37.2,124/96,95.0,aetna,6652.7
5,1064.0,Sarah,Brown,NaN,24.0,MALE,O+,2024-10-15,19/10/2024,Asthma,38.2,176 / 113,94.0,Cigna,6385.7
6,1057.0,William,Miller,NaN,30.0,FEMALE,AB+,2024-10-15,10/10/2024,Bronchitis,37.2,159/91,NaN,Medicare,$2647
7,1043.0,James,Williams,NaN,48.0,MALE,O+,2024-10-15,26/10/2024,COVID19,38,NaN,92.0,United Health,$1653
8,1029.0,David,Rodriguez,NaN,47.0,FEMALE,O-,2024-10-15,20/10/2024,Diabetes,38.2,112/95,NaN,UnitedHealth,$4918
9,1022.0,Mary,Johnson,NaN,49.0,FEMALE,B+,2024-10-15,18/10/2024,Anxiety,37.5,NaN,89.0,BlueCross,3966.18

In [25]:
# ----------------------------------------------------------------
# BUG CATEGORY 5: DATE FORMAT ISSUES
# ----------------------------------------------------------------
print("\n5Ô∏è‚É£ Converting date columns...")

# TODO: Convert Date_of_Birth, Admission_Date, Discharge_Date to proper datetime
# HINT: Use pd.to_datetime() with errors='coerce'
# Columns to convert
date_columns = ['Date_of_Birth', 'Admission_Date', 'Discharge_Date']

# Convert each column to datetime
for col in date_columns:
    if col in df_clean.columns:
        df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')

print("‚úì Dates converted")
df_clean.head(10)

5Ô∏è‚É£ Converting date columns...
‚úì Dates converted

,Patient_ID,First_Name,Last_Name,Date_of_Birth,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Temperature,Blood_Pressure,Heart_Rate,Insurance_Provider,Bill_Amount
0,1001.0,John,Smith,NaT,45.0,UNKNOWN,A +,2024-10-15,NaT,Flu,97.3F,151 / 88,78.0,NaN,$566
1,1086.0,Emma,Garcia,2020-05-27,-5.0,MALE,O-,2024-10-15,2024-10-22,Bronchitis,normal,160/62,84.0,UnitedHealth,4481.7
2,1085.0,Michael,Jones,NaT,27.0,MALE,A +,2024-10-15,2024-10-22,COVID19,37.4,NaN,78.0,Aetna,$4925
3,1071.0,John,Smith,NaT,61.0,MALE,A-,2024-10-15,NaT,Flu,37.4,156/101,84.0,aetna,$2975
4,1068.0,Olivia,Davis,1951-01-28,69.0,MALE,O-,2024-10-15,2024-10-18,Bronchitis,37.2,124/96,95.0,aetna,6652.7
5,1064.0,Sarah,Brown,NaT,24.0,MALE,O+,2024-10-15,2024-10-19,Asthma,38.2,176 / 113,94.0,Cigna,6385.7
6,1057.0,William,Miller,NaT,30.0,FEMALE,AB+,2024-10-15,2024-10-10,Bronchitis,37.2,159/91,NaN,Medicare,$2647
7,1043.0,James,Williams,NaT,48.0,MALE,O+,2024-10-15,2024-10-26,COVID19,38,NaN,92.0,United Health,$1653
8,1029.0,David,Rodriguez,NaT,47.0,FEMALE,O-,2024-10-15,2024-10-20,Diabetes,38.2,112/95,NaN,UnitedHealth,$4918
9,1022.0,Mary,Johnson,NaT,49.0,FEMALE,B+,2024-10-15,2024-10-18,Anxiety,37.5,NaN,89.0,BlueCross,3966.18

In [26]:
# ----------------------------------------------------------------
# BUG CATEGORY 6: DATA TYPE CONVERSIONS
# ----------------------------------------------------------------
print("\n6Ô∏è‚É£ Fixing data types...")

# TODO: Convert Age, Heart_Rate to integers (handle strings first)
# HINT: First convert strings to numeric, then to int
numeric_int_cols = ['Age', 'Heart_Rate']
for col in numeric_int_cols:
    if col in df_clean.columns:
#Convert strings to numeric, coerce errors to NaN
        df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')
# Convert numeric (from coercion) to integer, handle NaNs
        df_clean[col] = df_clean[col].astype('Int64')

# TODO: Convert Bill_Amount to float (remove $ symbols first)
# HINT: Use .str.replace() to remove $ then convert to float
if 'Bill_Amount' in df_clean.columns:
    # Remove $ symbols and commas if any, then convert to float
    df_clean['Bill_Amount'] = df_clean['Bill_Amount'].astype(str) \
                                               .str.replace(r'[$,]', '', regex=True)
    df_clean['Bill_Amount'] = pd.to_numeric(df_clean['Bill_Amount'], errors='coerce')

#for col in ['Age', 'Bill_Amount', 'Heart_Rate', 'Temperature']:
    #if col in df_clean.columns:
        #df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')


print("‚úì Data types corrected")
df_clean.head()

6Ô∏è‚É£ Fixing data types...
‚úì Data types corrected

,Patient_ID,First_Name,Last_Name,Date_of_Birth,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Temperature,Blood_Pressure,Heart_Rate,Insurance_Provider,Bill_Amount
0,1001.0,John,Smith,NaT,45,UNKNOWN,A +,2024-10-15,NaT,Flu,97.3F,151 / 88,78,NaN,566.0
1,1086.0,Emma,Garcia,2020-05-27,-5,MALE,O-,2024-10-15,2024-10-22,Bronchitis,normal,160/62,84,UnitedHealth,4481.7
2,1085.0,Michael,Jones,NaT,27,MALE,A +,2024-10-15,2024-10-22,COVID19,37.4,NaN,78,Aetna,4925.0
3,1071.0,John,Smith,NaT,61,MALE,A-,2024-10-15,NaT,Flu,37.4,156/101,84,aetna,2975.0
4,1068.0,Olivia,Davis,1951-01-28,69,MALE,O-,2024-10-15,2024-10-18,Bronchitis,37.2,124/96,95,aetna,6652.7

In [27]:
# ----------------------------------------------------------------
# BUG CATEGORY 7: INVALID VALUES
# ----------------------------------------------------------------
print("\n7Ô∏è‚É£ Handling invalid values...")

# TODO: Fix negative ages, impossible ages (>120), negative bill amounts
# HINT: Use conditional replacement or set to NaN
# Replace negative or impossible ages with NaN
if 'Age' in df_clean.columns:
    df_clean.loc[(df_clean['Age'] < 0) | (df_clean['Age'] > 120), 'Age'] = pd.NA

# Replace negative bills with NaN
if 'Bill_Amount' in df_clean.columns: 
    df_clean.loc[df_clean['Bill_Amount'] < 0, 'Bill_Amount'] = pd.NA

# TODO: Fix heart rates outside normal range (30-200)
# Normal human heart rate: 30-200 bpm
if 'Heart_Rate' in df_clean.columns:
    df_clean.loc[(df_clean['Heart_Rate'] < 30) | (df_clean['Heart_Rate'] > 200), 'Heart_Rate'] = pd.NA

# TODO: Fix impossible temperatures (>42¬∞C or <30¬∞C)
# Convert to string for processing
    df_clean['Temperature'] = df_clean['Temperature'].astype(str).str.strip()

    # Detect Fahrenheit values (contain 'F' or '¬∞F')
    mask_fahrenheit = df_clean['Temperature'].str.upper().str.contains('F')

    # Convert numeric part of Fahrenheit entries to Celsius
    df_clean.loc[mask_fahrenheit, 'Temperature'] = (
        df_clean.loc[mask_fahrenheit, 'Temperature']
        .str.replace('[^0-9.\-]', '', regex=True)  # Remove all non-numeric characters
        .astype(float)
        .apply(lambda f: (f - 32) * 5 / 9)
    )
 # Human body temperature in ¬∞C: 30-42
if 'Temperature' in df_clean.columns:
# First, ensure temperature values are numeric
    df_clean['Temperature'] = pd.to_numeric(df_clean['Temperature'], errors='coerce')
# Then, replace impossible values with NaN
    df_clean.loc[
        (df_clean['Temperature'] < 30) | (df_clean['Temperature'] > 42),
        'Temperature'
    ] = pd.NA


print("‚úì Invalid values handled")

7Ô∏è‚É£ Handling invalid values...
‚úì Invalid values handled

In [28]:
# ----------------------------------------------------------------
# BUG CATEGORY 8: BLOOD TYPE ISSUES
# ----------------------------------------------------------------
print("\n8Ô∏è‚É£ Cleaning Blood Types...")

# TODO: Fix '0+' to 'O+', remove extra spaces, handle invalid blood types
# HINT: Use .replace() or .str.replace()
# Ensure all blood groups are strings, uppercase and strip spaces.
if 'Blood_Type' in df_clean.columns:
    df_clean['Blood_Type'] = df_clean['Blood_Type'].astype(str).str.strip().str.upper()

    # Replace 0 with O (common typo)
    df_clean['Blood_Type'] = df_clean['Blood_Type'].replace({'0+': 'O+', '0-': 'O-'})

    # Defined valid blood types
    valid_blood_types = ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']

    # Set invalid entries to NaN
    df_clean.loc[~df_clean['Blood_Type'].isin(valid_blood_types), 'Blood_Type'] = pd.NA


print("‚úì Blood types cleaned")

8Ô∏è‚É£ Cleaning Blood Types...
‚úì Blood types cleaned

In [29]:
# ----------------------------------------------------------------
# BUG CATEGORY 9: TEMPERATURE UNITS
# ----------------------------------------------------------------
print("\n9Ô∏è‚É£ Standardizing temperature units...")

# TODO: Convert all temperatures to Celsius (remove 'F', convert if needed)
# HINT: Check for 'F' in string, use formula: (F - 32) * 5/9
if 'Temperature' in df_clean.columns:
    # Convert to string for processing
    df_clean['Temperature'] = df_clean['Temperature'].astype(str).str.strip()

    # Detect Fahrenheit values (contain 'F' or '¬∞F')
    mask_fahrenheit = df_clean['Temperature'].str.upper().str.contains('F')

    # Convert numeric part of Fahrenheit entries to Celsius
    df_clean.loc[mask_fahrenheit, 'Temperature'] = (
        df_clean.loc[mask_fahrenheit, 'Temperature']
        .str.replace('[^0-9.\-]', '', regex=True)  # Remove all non-numeric characters
        .astype(float)
        .apply(lambda f: (f - 32) * 5 / 9)
    )

    # For non-Fahrenheit entries: just clean numeric part
    df_clean.loc[~mask_fahrenheit, 'Temperature'] = (
        df_clean.loc[~mask_fahrenheit, 'Temperature']
        .str.replace('[^0-9.\-]', '', regex=True)
    )

    # Convert entire column to numeric
    df_clean['Temperature'] = pd.to_numeric(df_clean['Temperature'], errors='coerce')

    # Human body temp range (30‚Äì42 ¬∞C)
    df_clean.loc[(df_clean['Temperature'] < 30) | (df_clean['Temperature'] > 42), 'Temperature'] = pd.NA


print("‚úì Temperatures standardized")

9Ô∏è‚É£ Standardizing temperature units...
‚úì Temperatures standardized

In [31]:
# ----------------------------------------------------------------
# BUG CATEGORY 10: BLOOD PRESSURE FORMAT
# ----------------------------------------------------------------
print("\nüîü Standardizing blood pressure format...")

# TODO: Make all blood pressure values use '/' separator
# HINT: Replace ' / ' and '-' with '/'
if 'Blood_Pressure' in df_clean.columns:
    # Convert to string and strip spaces
    df_clean['Blood_Pressure'] = df_clean['Blood_Pressure'].astype(str).str.strip()

    # Replace inconsistent separators with '/'
    df_clean['Blood_Pressure'] = (
        df_clean['Blood_Pressure']
        .str.replace(r'\s*[/\\-]\s*', '/', regex=True)   # handles '-', '\', or extra spaces
    )
    # validate format "number/number"
    invalid_bp = ~df_clean['Blood_Pressure'].str.match(r'^\d{2,3}/\d{2,3}$')
    df_clean.loc[invalid_bp, 'Blood_Pressure'] = pd.NA


print("‚úì Blood pressure standardized")

üîü Standardizing blood pressure format...
‚úì Blood pressure standardized

In [32]:
# ----------------------------------------------------------------
# BUG CATEGORY 11: INSURANCE PROVIDER CONSISTENCY
# ----------------------------------------------------------------
print("\n1Ô∏è‚É£1Ô∏è‚É£ Standardizing insurance providers...")

# TODO: Make all provider names consistent (e.g., all 'BlueCross' or all 'Aetna')
# HINT: Use .str.lower() then .str.title() or create a mapping
if 'Insurance_Provider' in df_clean.columns:
    # Convert to string, trim spaces, and standardize casing
    df_clean['Insurance_Provider'] = (
        df_clean['Insurance_Provider']
        .astype(str)
        .str.strip()
        .str.lower()
    )

    # Define mapping for common provider name variations
    provider_mapping = {
        'blue cross': 'BlueCross',
        'bluecross': 'BlueCross',
        'blue-cross': 'BlueCross',
        'blue cross blue shield': 'BlueCross',
        'aetna inc.': 'Aetna',
        'aetna insurance': 'Aetna',
        'aetna': 'Aetna',
        'united healthcare': 'UnitedHealth',
        'united health': 'UnitedHealth',
        'unitedhealth': 'UnitedHealth',
        'united health group': 'UnitedHealth',
        'cigna corporation': 'Cigna',
        'cigna': 'Cigna',
        'humana inc.': 'Humana',
        'humana': 'Humana',
        'kaiser permanente': 'Kaiser Permanente'
    }

    # Apply mapping (replace known variants)
    df_clean['Insurance_Provider'] = (
        df_clean['Insurance_Provider']
        .replace(provider_mapping)
    )

    # Replace invalid entries with NaN
    invalid_providers = df_clean['Insurance_Provider'].isin(['Na', 'None', 'Null', 'Unknown', ''])
    df_clean.loc[invalid_providers, 'Insurance_Provider'] = pd.NA


print("‚úì Insurance providers standardized")

1Ô∏è‚É£1Ô∏è‚É£ Standardizing insurance providers...
‚úì Insurance providers standardized

In [36]:
# ----------------------------------------------------------------
# BUG CATEGORY 12: DIAGNOSIS CLEANUP
# ----------------------------------------------------------------
print("\n1Ô∏è‚É£2Ô∏è‚É£ Cleaning diagnosis field...")

# TODO: Strip whitespace, fix typos (e.g., 'Diabetis' -> 'Diabetes')
# HINT: Use .str.strip() and .replace()
if 'Diagnosis' in df_clean.columns:
    # Convert to string, strip spaces, and standardize capitalization
    df_clean['Diagnosis'] = (
        df_clean['Diagnosis']
        .astype(str)
        .str.strip()
        .str.title()  # e.g., 'diabetes' -> 'Diabetes'
    )

    # Dictionary to fix common typos and variations
    diagnosis_mapping = {
        'Diabetis': 'Diabetes',
        'Diabetees': 'Diabetes',
        'Diabtes': 'Diabetes',
        'Hypertensoin': 'Hypertension',
        'Hypertention': 'Hypertension',
        'Flu.': 'Flu',
        'Influenze': 'Influenza',
        'Covid19': 'COVID-19',
        'Covid-19': 'COVID-19',
        'Corona Virus': 'COVID-19',
        'Asthama': 'Asthma',
        'Pnemonia': 'Pneumonia',
        'Anemea': 'Anemia'
    }

    # Apply corrections
    df_clean['Diagnosis'] = df_clean['Diagnosis'].replace(diagnosis_mapping)

    # Optional: mark invalid or placeholder entries as NaN
    invalid_diag = df_clean['Diagnosis'].isin(['Na', 'None', 'Null', 'Unknown', ''])
    df_clean.loc[invalid_diag, 'Diagnosis'] = pd.NA


print("‚úì Diagnosis cleaned")

1Ô∏è‚É£2Ô∏è‚É£ Cleaning diagnosis field...
‚úì Diagnosis cleaned

In [52]:
#FILLING MISSING VALUES
#Function to fill missing values randomly from existing (non-missing) data
def fill_missing_random(df, columns):
    for col in columns:
        if col not in df.columns:
            print(f" Column '{col}' not found ‚Äî skipped.")
            continue

        non_null_values = df[col].dropna()
        num_missing = df[col].isna().sum()

        if num_missing == 0:
            print(f" No missing values in '{col}' ‚Äî nothing to fill.")
            continue
        if non_null_values.empty:
            print(f" Column '{col}' has no valid values to sample from ‚Äî skipped.")
            continue

        print(f" Filling {num_missing} missing values in '{col}'...")

        # Handle datetimes separately
        if np.issubdtype(non_null_values.dtype, np.datetime64):
            sampled_values = np.random.choice(non_null_values.values, num_missing, replace=True)
            sampled_values = pd.to_datetime(sampled_values)
        else:
            sampled_values = np.random.choice(non_null_values.values, num_missing, replace=True)

        df.loc[df[col].isna(), col] = sampled_values

    return df


# Apply to data set
cols_to_fill = [
    'Age', 
    'Temperature', 
    'Heart_Rate', 
    'Diagnosis', 
    'Blood_Type', 
    'Date_of_Birth',     
    'Admission_Date',    
    'Discharge_Date'     
]
np.random.seed(42)
df_clean = fill_missing_random(df_clean, cols_to_fill)

 No missing values in 'Age' ‚Äî nothing to fill.
 No missing values in 'Temperature' ‚Äî nothing to fill.
 No missing values in 'Heart_Rate' ‚Äî nothing to fill.
 No missing values in 'Diagnosis' ‚Äî nothing to fill.
 No missing values in 'Blood_Type' ‚Äî nothing to fill.
 No missing values in 'Date_of_Birth' ‚Äî nothing to fill.
 No missing values in 'Admission_Date' ‚Äî nothing to fill.
 No missing values in 'Discharge_Date' ‚Äî nothing to fill.

In [53]:
# ----------------------------------------------------------------
# BUG CATEGORY 13: LOGICAL INCONSISTENCIES
# ----------------------------------------------------------------
print("\n1Ô∏è‚É£3Ô∏è‚É£ Checking logical consistency...")

# TODO: Ensure Discharge_Date is after Admission_Date
# HINT: Compare the two date columns
from datetime import datetime
# Convert both to datetime
df_clean['Admission_Date'] = pd.to_datetime(df_clean['Admission_Date'], errors='coerce')
df_clean['Discharge_Date'] = pd.to_datetime(df_clean['Discharge_Date'], errors='coerce')

#compare both dates and assign NaT where discharge date is before admission date
if {'Admission_Date', 'Discharge_Date'}.issubset(df_clean.columns):
     invalid_dates = df_clean['Discharge_Date'] < df_clean['Admission_Date']
     df_clean.loc[invalid_dates, 'Discharge_Date'] = pd.NaT
     print(f"üìÖ Fixed {invalid_dates.sum()} records with discharge before admission.")
    

# TODO: Calculate proper age from Date_of_Birth
# Convert Date_of_Birth to datetime
if 'Date_of_Birth' in df_clean.columns:
    df_clean['Date_of_Birth'] = pd.to_datetime(df_clean['Date_of_Birth'], errors='coerce')

# Use Admission_Date if available, otherwise current date
    reference_date = None
    if 'Admission_Date' in df_clean.columns:
        reference_date = df_clean['Admission_Date']
    else:
        reference_date = pd.Timestamp(datetime.now())
# Compute age in years
    df_clean['Calculated_Age'] = (
        (reference_date - df_clean['Date_of_Birth'])
        .dt.days // 365
    )

    # Compare original Age column with Calculated age and update Age column accordingly for any mistmatches
if 'Age' in df_clean.columns:
        mismatched_age = abs(df_clean['Age'] - df_clean['Calculated_Age']) > 1
        df_clean.loc[mismatched_age, 'Age'] = df_clean.loc[mismatched_age, 'Calculated_Age']

print("üë∂ Age column recalculated and corrected using Date_of_Birth.")


print("‚úì Logical consistency checked")

1Ô∏è‚É£3Ô∏è‚É£ Checking logical consistency...
üìÖ Fixed 13 records with discharge before admission.
üë∂ Age column recalculated and corrected using Date_of_Birth.
‚úì Logical consistency checked

In [63]:
# ================================================================
# STEP 4: FINAL VALIDATION
# ================================================================

print("\n" + "="*70)
print("üèÅ CLEANING COMPLETE - FINAL VALIDATION")
print("="*70)

# Check missing values after cleaning
print("\n‚ùì Missing Values After Cleaning:")
print(df_clean.isnull().sum())

# Check data types
print("\nüìä Data Types After Cleaning:")
print(df_clean.dtypes)

# Display sample of cleaned data
print("\n‚ú® Sample of Cleaned Data:")
print(df_clean.head(10))
print("\n" + "="*70)
print("üèÅ CLEANING COMPLETE - FINAL VALIDATION")
print("="*70)

# ----------------------------------------------------------------
# ‚úÖ Check for Missing Values
# ----------------------------------------------------------------
print("\n‚ùì Missing Values After Cleaning:")
missing_summary = df_clean.isnull().sum()
print(missing_summary[missing_summary > 0].sort_values(ascending=False))

# ----------------------------------------------------------------
# ‚úÖ Check Data Types
# ----------------------------------------------------------------
print("\nüìä Data Types After Cleaning:")
print(df_clean.dtypes)

# ----------------------------------------------------------------
# ‚úÖ Basic Data Quality Stats
# ----------------------------------------------------------------
print("\nüìã Basic Data Quality Check:")
print(f"Total Rows: {len(df_clean)}")
print(f"Total Columns: {df_clean.shape[1]}")
print(f"Total Missing Cells: {df_clean.isna().sum().sum()}")

# Optional: % completeness
total_cells = df_clean.size
missing_cells = df_clean.isna().sum().sum()
print(f"Overall Completeness: {100 * (1 - missing_cells / total_cells):.2f}%")

# ----------------------------------------------------------------
# ‚úÖ Sample of Cleaned Data
# ----------------------------------------------------------------
print("\n‚ú® Sample of Cleaned Data (first 10 rows):")
print(df_clean.head(10))

# Optional: quick info summary
print("\n‚ÑπÔ∏è Quick Summary (describe numeric columns):")
print(df_clean.describe(include='number').T)

# Optional: for categorical columns
print("\nüî† Top Categorical Values:")
for col in df_clean.select_dtypes(include='object').columns:
    print(f"  ‚Ä¢ {col}: {df_clean[col].dropna().value_counts().head(3).to_dict()}")

======================================================================
üèÅ CLEANING COMPLETE - FINAL VALIDATION
======================================================================

‚ùì Missing Values After Cleaning:
Patient_ID            0
First_Name            0
Last_Name             0
Date_of_Birth         0
Age                   0
Gender                0
Blood_Type            0
Admission_Date        0
Discharge_Date        0
Diagnosis             0
Temperature           0
Blood_Pressure        0
Heart_Rate            0
Insurance_Provider    0
Bill_Amount           0
Calculated_Age        0
dtype: int64

üìä Data Types After Cleaning:
Patient_ID                   float64
First_Name                    object
Last_Name                     object
Date_of_Birth         datetime64[ns]
Age                            Int64
Gender                        object
Blood_Type                    object
Admission_Date        datetime64[ns]
Discharge_Date        datetime64[ns]
Diagnosis                     object
Temperature                  float64
Blood_Pressure                object
Heart_Rate                     Int64
Insurance_Provider            object
Bill_Amount                  float64
Calculated_Age                 int64
dtype: object

‚ú® Sample of Cleaned Data:
   Patient_ID First_Name  Last_Name Date_of_Birth  Age   Gender Blood_Type  \
0      1001.0       John      Smith    1948-01-22   76  UNKNOWN         O-
1      1086.0       Emma     Garcia    2020-05-27    4     MALE         O-
2      1085.0    Michael      Jones    1985-05-20   39     MALE         O-
3      1071.0       John      Smith    1983-02-03   41     MALE         A-
4      1068.0     Olivia      Davis    1951-01-28   73     MALE         O-
5      1064.0      Sarah      Brown    1990-08-15   34     MALE         O+
6      1057.0    William     Miller    1986-10-07   38   FEMALE        AB+
7      1043.0      James   Williams    1985-05-20   39     MALE         O+
8      1029.0      David  Rodriguez    1985-05-20   39   FEMALE         O-
9      1022.0       Mary    Johnson    1985-05-20   39   FEMALE         B+

  Admission_Date Discharge_Date   Diagnosis  Temperature Blood_Pressure  \
0     2024-10-15     2024-11-13         Flu    36.277778         151/88
1     2024-10-15     2024-10-22  Bronchitis    38.200000         160/62
2     2024-10-15     2024-10-22    COVID-19    37.400000         121/67
3     2024-10-15     2025-08-19         Flu    37.400000        156/101
4     2024-10-15     2024-10-18  Bronchitis    37.200000         124/96
5     2024-10-15     2024-10-19      Asthma    38.200000        176/113
6     2024-10-15     2025-08-19  Bronchitis    37.200000         159/91
7     2024-10-15     2024-10-26    COVID-19    38.000000         112/95
8     2024-10-15     2024-10-20    Diabetes    38.200000         112/95
9     2024-10-15     2024-10-18     Anxiety    37.500000        147/118

   Heart_Rate Insurance_Provider  Bill_Amount  Calculated_Age
0          78                nan       566.00              76
1          84       UnitedHealth      4481.70               4
2          78              Aetna      4925.00              39
3          84              Aetna      2975.00              41
4          95              Aetna      6652.70              73
5          94              Cigna      6385.70              34
6          78           medicare      2647.00              38
7          92       UnitedHealth      1653.00              39
8          90       UnitedHealth      4918.00              39
9          89          BlueCross      3966.18              39

======================================================================
üèÅ CLEANING COMPLETE - FINAL VALIDATION
======================================================================

‚ùì Missing Values After Cleaning:
Series([], dtype: int64)

üìä Data Types After Cleaning:
Patient_ID                   float64
First_Name                    object
Last_Name                     object
Date_of_Birth         datetime64[ns]
Age                            Int64
Gender                        object
Blood_Type                    object
Admission_Date        datetime64[ns]
Discharge_Date        datetime64[ns]
Diagnosis                     object
Temperature                  float64
Blood_Pressure                object
Heart_Rate                     Int64
Insurance_Provider            object
Bill_Amount                  float64
Calculated_Age                 int64
dtype: object

üìã Basic Data Quality Check:
Total Rows: 97
Total Columns: 16
Total Missing Cells: 0
Overall Completeness: 100.00%

‚ú® Sample of Cleaned Data (first 10 rows):
   Patient_ID First_Name  Last_Name Date_of_Birth  Age   Gender Blood_Type  \
0      1001.0       John      Smith    1948-01-22   76  UNKNOWN         O-
1      1086.0       Emma     Garcia    2020-05-27    4     MALE         O-
2      1085.0    Michael      Jones    1985-05-20   39     MALE         O-
3      1071.0       John      Smith    1983-02-03   41     MALE         A-
4      1068.0     Olivia      Davis    1951-01-28   73     MALE         O-
5      1064.0      Sarah      Brown    1990-08-15   34     MALE         O+
6      1057.0    William     Miller    1986-10-07   38   FEMALE        AB+
7      1043.0      James   Williams    1985-05-20   39     MALE         O+
8      1029.0      David  Rodriguez    1985-05-20   39   FEMALE         O-
9      1022.0       Mary    Johnson    1985-05-20   39   FEMALE         B+

  Admission_Date Discharge_Date   Diagnosis  Temperature Blood_Pressure  \
0     2024-10-15     2024-11-13         Flu    36.277778         151/88
1     2024-10-15     2024-10-22  Bronchitis    38.200000         160/62
2     2024-10-15     2024-10-22    COVID-19    37.400000         121/67
3     2024-10-15     2025-08-19         Flu    37.400000        156/101
4     2024-10-15     2024-10-18  Bronchitis    37.200000         124/96
5     2024-10-15     2024-10-19      Asthma    38.200000        176/113
6     2024-10-15     2025-08-19  Bronchitis    37.200000         159/91
7     2024-10-15     2024-10-26    COVID-19    38.000000         112/95
8     2024-10-15     2024-10-20    Diabetes    38.200000         112/95
9     2024-10-15     2024-10-18     Anxiety    37.500000        147/118

   Heart_Rate Insurance_Provider  Bill_Amount  Calculated_Age
0          78                nan       566.00              76
1          84       UnitedHealth      4481.70               4
2          78              Aetna      4925.00              39
3          84              Aetna      2975.00              41
4          95              Aetna      6652.70              73
5          94              Cigna      6385.70              34
6          78           medicare      2647.00              38
7          92       UnitedHealth      1653.00              39
8          90       UnitedHealth      4918.00              39
9          89          BlueCross      3966.18              39

‚ÑπÔ∏è Quick Summary (describe numeric columns):
               count         mean          std        min      25%     50%  \
Patient_ID      97.0  1051.412371    29.400876     1001.0   1027.0  1052.0
Age             97.0    46.618557    20.551989        4.0     34.0    41.0
Temperature     97.0     37.84811     0.769101  36.222222     37.3    37.7
Heart_Rate      97.0    81.742268    10.327228       60.0     75.0    81.0
Bill_Amount     97.0  5336.386907  2668.059652      566.0  3218.84  5148.8
Calculated_Age  97.0    46.618557    20.551989        4.0     34.0    41.0

                   75%      max
Patient_ID      1077.0   1101.0
Age               65.0     84.0
Temperature       38.5     39.5
Heart_Rate        91.0    100.0
Bill_Amount     7015.1  9961.31
Calculated_Age    65.0     84.0

üî† Top Categorical Values:
  ‚Ä¢ First_Name: {'Olivia': 10, 'James': 10, 'William': 10}
  ‚Ä¢ Last_Name: {'Smith': 10, 'Brown': 10, 'Davis': 10}
  ‚Ä¢ Gender: {'MALE': 49, 'FEMALE': 42, 'UNKNOWN': 6}
  ‚Ä¢ Blood_Type: {'AB+': 21, 'O-': 20, 'O+': 16}
  ‚Ä¢ Diagnosis: {'Diabetes': 14, 'COVID-19': 12, 'Anxiety': 12}
  ‚Ä¢ Blood_Pressure: {'121/67': 2, '112/95': 2, '147/118': 2}
  ‚Ä¢ Insurance_Provider: {'BlueCross': 25, 'Aetna': 19, 'UnitedHealth': 18}

In [62]:
#REMOVE PERSISTENT NaN separately
# Fill missing Patient_ID with a new unique ID
max_id = df_clean['Patient_ID'].max()
df_clean['Patient_ID'] = df_clean['Patient_ID'].fillna(max_id + 1)

#Fill missing names with UNKOWN
df_clean['First_Name'] = df_clean['First_Name'].fillna('Unknown')
df_clean['Last_Name'] = df_clean['Last_Name'].fillna('Patient')

# Discharge date
#Mask for rows where Discharge_Date is missing but Admission_Date exists
mask = df_clean['Discharge_Date'].isna() & df_clean['Admission_Date'].notna()

# Generate random days for each missing discharge
random_days = np.random.randint(1, 10, size=mask.sum())

# Assign a discharge date = admission date + random days (row by row)
df_clean.loc[mask, 'Discharge_Date'] = df_clean.loc[mask, 'Admission_Date'].values + pd.to_timedelta(random_days, unit='D')

#Gender
if 'Gender' in df_clean.columns:
    genders = df_clean['Gender'].dropna().unique()
    df_clean.loc[df_clean['Gender'].isna(), 'Gender'] = np.random.choice(genders, df_clean['Gender'].isna().sum(), replace=True)

#Blood pressure
    bp_values = df_clean['Blood_Pressure'].dropna().unique()
df_clean.loc[df_clean['Blood_Pressure'].isna(), 'Blood_Pressure'] = np.random.choice(bp_values, df_clean['Blood_Pressure'].isna().sum(), replace=True)

#Bill Amounts
bill_values = df_clean['Bill_Amount'].dropna()
df_clean.loc[df_clean['Bill_Amount'].isna(), 'Bill_Amount'] = np.random.choice(bill_values, df_clean['Bill_Amount'].isna().sum(), replace=True)

In [67]:
#One decimal point for all temperature values
df_clean['Temperature'] = df_clean['Temperature'].round(1)

print("‚úÖ Temperature values rounded to one decimal place.")

‚úÖ Temperature values rounded to one decimal place.

In [68]:
# ================================================================
# STEP 5: BASIC ANALYSIS (Prove your cleaning worked!)
# ================================================================

print("\n" + "="*70)
print("üìä BASIC ANALYSIS ON CLEANED DATA")
print("="*70)

# TODO: Calculate and display:
# 1. Average age of patients
if 'Age' in df_clean.columns:
    avg_age = df_clean['Age'].dropna().mean()
    print(f"üßì Average Age of Patients: {avg_age:.1f} years")
else:
    print("‚ö†Ô∏è 'Age' column not found.")

# 2. Most common diagnosis
if 'Diagnosis' in df_clean.columns:
    common_diag = df_clean['Diagnosis'].dropna().mode()
    if not common_diag.empty:
        print(f"ü©∫ Most Common Diagnosis: {common_diag.iloc[0]}")
    else:
        print("No diagnosis data available.")
else:
    print("‚ö†Ô∏è 'Diagnosis' column not found.")

# 3. Average bill amount
if 'Bill_Amount' in df_clean.columns:
    avg_bill = df_clean['Bill_Amount'].dropna().mean()
    print(f"üíµ Average Bill Amount: ${avg_bill:,.2f}")
else:
    print("‚ö†Ô∏è 'Bill_Amount' column not found.")

# 4. Gender distribution
if 'Gender' in df_clean.columns:
    print("\nüöª Gender Distribution:")
    gender_counts = df_clean['Gender'].dropna().value_counts()
    total = gender_counts.sum()
    for gender, count in gender_counts.items():
        print(f"   ‚Ä¢ {gender}: {count} ({count / total * 100:.1f}%)")
else:
    print("‚ö†Ô∏è 'Gender' column not found.")


# 5. Most common blood type
if 'Blood_Type' in df_clean.columns:
    common_blood = df_clean['Blood_Type'].dropna().mode()
    if not common_blood.empty:
        print(f"\nü©∏ Most Common Blood Type: {common_blood.iloc[0]}")
    else:
        print("\nNo valid blood type data available.")
else:
    print("‚ö†Ô∏è 'Blood_Type' column not found.")

======================================================================
üìä BASIC ANALYSIS ON CLEANED DATA
======================================================================
üßì Average Age of Patients: 46.6 years
ü©∫ Most Common Diagnosis: Diabetes
üíµ Average Bill Amount: $5,336.39

üöª Gender Distribution:
   ‚Ä¢ MALE: 49 (50.5%)
   ‚Ä¢ FEMALE: 42 (43.3%)
   ‚Ä¢ UNKNOWN: 6 (6.2%)

ü©∏ Most Common Blood Type: AB+

In [71]:
# ================================================================
# STEP 6: SAVE YOUR CLEANED DATA
# ================================================================

# TODO: Save the cleaned dataset
# df_clean.to_csv('cleaned_patient_records.csv', index=False)
# print("\n‚úÖ Cleaned data saved to 'cleaned_patient_records.csv'")
# define output file
output_filename = 'cleaned_patient_records_Jovita_Nagawa_2025_HD07_26007U.csv'
# Save to CSV without the index column, let empty values be indicated as NaN
df_clean.to_csv(output_filename, index=False,na_rep='NaN')

print(f"\n‚úÖ Cleaned data successfully saved to '{output_filename}'")


print("\n" + "="*70)
print("üéâ CHALLENGE COMPLETE!")
print("="*70)
print("\nSubmit your notebook to instructor for scoring.")
print("Remember to document what bugs you found and how you fixed them!")

‚úÖ Cleaned data successfully saved to 'cleaned_patient_records_Jovita_Nagawa_2025_HD07_26007U.csv'

======================================================================
üéâ CHALLENGE COMPLETE!
======================================================================

Submit your notebook to instructor for scoring.
Remember to document what bugs you found and how you fixed them!